/*
===================================
Notebook Container
===================================
*/

.notes {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.notebook__container {
  background-color: #2e3235;
  color: white;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 25px;


  button.icon svg {
    color:rgba(255, 255, 255, 0.7);
  }
}

.notebook__container .notes {
  margin-top: 20px;
}

.notebook__container .notes button,
.notebooks-section__heading,
.notebooks-section form {
  padding-left: 20px;
  padding-right: 20px;
}

li.notebook {
  padding-left: 20px;
  padding-right: 13px;
}

.icon svg {
  width: 17px;
  height: 17px;
}


.notes li > button,
.notebook > .notebook__button {
  display: flex;
  gap: 8px;
  margin-bottom: 3px;
  padding: 8px 4px;
  align-items: center;
  width: 100%;
}

.notebook__button svg {
  margin-top: 4px;
}

.notes li > button:hover,
.notebook:hover {
  background-color: hsl(206, 4%, 29%);
  font-weight: normal;
}

.notes .category.active,
.notebook.active {
  background-color: var(--color-link);

  &:hover {
    background-color: var(--color-link);
  }
}

.notes li > button.active .icon.gray svg {
  opacity: 100%;
}

/* Notebooks Section */
.notebooks-section.hide ul.note-books {
  display: none;
}

.notebooks-section__heading {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-start;
}

.notebooks-section__heading .notebooks__icon svg {
  width: 14px;
  height: 14px;
}

.notebooks-section__heading .add-notebook {
  margin-left: auto;
}

.notebook > button {
  margin-top: 0;
}

.notebooks-section input {
  border-radius: 2px;
  border: 0px;
  color: inherit;
  background-color: inherit;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid;
  outline: none;
  padding: 5px 10px;
}

.add-notebook__form.hide {
  display: none;
}

.new-notebook-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.notebook {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: space-between;
  align-items: center;

  button.icon {
    display: none;
    padding: 5px 7px;
  }

  button.icon:hover {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.7);
  }

  &:hover button.icon {
    display: inline;
  }
}

ul.note-books {
  margin-top: 15px;
}

.hide-notebooks-button-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.notebooks-section.hide-notebooks {
  ul.note-books {
    display: none;
  }

   svg{
    transform: rotate(180deg);
  }
}
