/*
===================================
Notes Container
===================================
*/

.notes__container {
  border-right: 1px solid #dedede;
  background-color: #fbfbfb;
}

.notes__container-header {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #dedede;

  input {
    margin: 0;
  }

  .add-new-note {
    margin-top: 12px;
  }
}


.add-new-note svg {
  width: 30px;
  height: 30px;
  color: #9fa0a0;
}

.notes__container-notes {
  display: flex;
  flex-direction: column;
}

.notes__container-note {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-bottom: 1px solid #dedede;
  transition: all 200ms ease-out;
  border-left: 0;

  h4 {
    margin: 10px 0;
  }
}

.notes__container-note:hover {
  background-color: #eee;
}

.notes__container-note.active {
  background-color: white;
  border-left: 5px solid var(--color-link);
}

.notes__container-note .notes__container-note-category {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.notes__container-note-category {
  opacity: 60%;
  font-size: 15px;
}
