/*
===================================
Notes Editor
===================================
*/

.notes-editor {
  width: 95%;
  font-size: 16px;
  font-family: inherit;
  height: 100%;
  padding: 20px;
  margin: 20px 0;
  resize: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.notes-browser__empty img {
  height: 350px;
  width: 350px;
  opacity: 50%;
}

.notes-browser__empty {
  display: grid;
  height: 100%;
  margin: 0;
  place-items: center center;
}

.notes-browser__empty p {
  text-align: center;
  margin-top: 20px;
}

#notes-editor {
  height: 100%;
}

.note-settings-bar {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;

  svg {
    width: 19px;
    color: #4A5568;
    height: 19px;
  }

  .flex {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  button,
  select,
  label {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
  }

  select {
    display: block;
    width: 100%;
    background-color: #eee;
    border: 1px solid;
    border-color: #eee;
    padding: 6px 8px;
    border-radius: 5px;

    &:focus {
      outline: none;
      background-color: white;
      border-color: gray;
    }

  }
}

button.save {
  @include simple-button;
  background-color: #4299E1;

  &:hover {
    background-color: #2B6CB0;
  }

  &:focus {
    outline: none;
  }
}

.recover-note {

  button {
    @include simple-button;
    background-color: #22c55e;

    &:hover {
      background-color: #15803d;
    }
  }
}
